<div class="container pt-4 pb-4 pl-4 pr-4">
  <div class="card bg-info ">
    <div class="card-header bg-warning text-white font-weight-bold">SignUp Form</div>
    <div class="card-body">
      <form  class="was-validated ">
        <div class="form-group col-md-6 pr-4 ">
          <label for="username">Username:</label>
          <input type="text" class="form-control " id="username" placeholder="Enter UserName" name="username" required>
          <div class="valid-feedback text-white">Valid.</div>
          <div class="invalid-feedback">UserName is required field</div>
        </div>
        <div class="form-group col-md-6 pr-4 ">
          <label for="username">Email:</label>
          <input  type="text" class="form-control " id="email" placeholder="Enter Email" name="email" required>
          <div class="valid-feedback text-white">Valid.</div>
          <div class="invalid-feedback">Email is required field</div>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="password" required>
          <div class="valid-feedback text-white ">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group col-md-6 pr-4">
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Confirm Password" name="confirm" required>
          <div class="valid-feedback text-white">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="row">
          <div class="form-group  pl-3" >
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" placeholder="CityName" name="city" required>
            <div class="valid-feedback text-white">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group  pl-3 pr-3">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" placeholder="State Name" name="state" required>
            <div class="valid-feedback text-white">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="country ">Country:</label>
            <input  type="text" class="form-control" id="country" placeholder="Country Name" name="country" required>
            <div class="valid-feedback text-white">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group pl-3">
            <label for="pincode">PinCode:</label>
            <input type="text" class="form-control" id="pincode" placeholder="Enter Pin" name="pincode" required>
            <div class="valid-feedback text-white">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
        </div>
        
        <button  type="submit" class="btn btn-success btn-lg">SignUp</button>
      </form>

    </div>

    </div>

